.profile-popup-container .modal-body {
	padding:0;
}
.profile-header-inner{
	height:80px;
}
.profile-picture{
	height:120px;
	width: 120px;
	margin: -70px 10px 0 10px;
}
.profile-popup-container .profile-details{
	margin: 5px 15px 0;
}
.profile-popup-container .profile-details .fullname a{
	font-weight:700;
	font-size: 22px;
}
